/* Background and Body CSS formatting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(https://github.com/GeorgiaHunt89/Weather-Dashboard/blob/main/assets/Images/White-Clouds-Background-Image.png?raw=true);
    background-color: #cccccc;
    width: 100%;
    height: auto;
    background-size: cover;
}

/* Dashboard Heading Section */

#heading-dashboard {
    background-color: lightskyblue;
    color: whitesmoke;
    padding: 15px;
    text-align: center;
}
/* Headings

/* Buttons

/* Five Day Weather Section

/* Media Queries