/* Background and Body CSS formatting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(https://github.com/GeorgiaHunt89/Weather-Dashboard/blob/main/assets/Images/Background-cloud-image.png?raw=true);
    background-color: #cccccc;
}

/* Dashboard Heading Section */

#heading-dashboard {
    background-color: aquamarine;
    
}
/* Headings

/* Buttons

/* Five Day Weather Section

/* Media Queries