/* Background and Body CSS formatting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(https://github.com/GeorgiaHunt89/Weather-Dashboard/blob/main/assets/Images/White-Clouds-Background-Image.png?raw=true);
    background-color: #cccccc;
    width: 100%;
    height: auto;
    background-size: auto;
}

/* Dashboard Heading Section */
#heading-dashboard {
    background-color: lightskyblue;
    color: whitesmoke;
    padding: 15px;
    text-align: center;
}

/* search */
#seach-history {
    float: left;
    justify-content: left;
}

/* Buttons */
button {
    background-color: lightskyblue;
    color: whitesmoke;
    max-height: 38px;
    transition: all 0.3s;
    outline: none;
    padding: 6px;
    font-weight: bold;
    border: none;

}

button:hover {
    background-color: whitesmoke;
    color: lightskyblue;
}

/* Current Weather section */
.card {
padding:5px;
margin-bottom: 5px;
}

.uv-index {
    color: red;
}

/* Five Day Weather Section */
#five-day-forcast {
    display: flex;
    position: relative;
    justify-content: center;
}

.display-5-day {
    background-color: lightcyan;
    border-radius: 10px;
    width: 150px;
    height:180px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-size: 10px;
    display: inline-flex;
}


/* Media Queries */
@media (max-width: 990px){
    .display-5-day {
        width: 200px;
        height:300px;
    }
}

@media (max-width: 760px) {
    #current-weather-section {
        width: 100%;
        margin: 0 auto;
    }
    
    #five-day-forcast {
        width: 100%;
        margin: 0 auto
    }
}

@media (max-width:570px) {
    .display-5-day {
        margin: 5px auto;
    }
}
